<main id="education">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

            <h2 class="section-title text-center">Education</h2>
            <p class="section-subtitle text-center">What I have learned during my IoT Engineering course.</p>
          

            <div class="break"></div>
            ...

            <div id="ed-III" class="content">
                <h3 class="title">III semester</h3>

                <ul class="excerpt">
                    <li>Raspberry Pi</li>
                    <li>MQTT, RESTAPI</li>
                </ul>
            </div>

        </div>
      </div>
    </div>
  </main>