<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.data.global.title != '' %}
          <h1 class="text-center">{{site.data.global.title}}</h1>
          {% endif %}

          {% if site.data.global.description != '' %}
          <p class="text-center">{{site.data.global.description}} {% comment %} {% include contact.html %}{% endcomment %}</p> 
          {% endif %}

          {% comment %} {% include contact-modal.html %}{% endcomment %}

          <div class="hero-buttons">

            {% comment %} {% if site.data.global.twitter != '' %}
              <a href="https://twitter.com/{{ site.data.global.twitter }}"><button class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg"></i>Twitter</button></a>
            {% endif %}{% endcomment %} 
            {% if site.data.global.github != '' %}
              <a href="https://github.com/{{ site.data.global.github }}" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
            {% endif %}
            {% if site.data.global.linkedin != '' %}
              <a href="https://www.linkedin.com/in/{{ site.data.global.linkedin }}" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i>LinkedIn</button></a>
            {% endif %}

          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
