<div class="list-unstyled">
    <h3 class="title">Software</h3>

    <ul class="excerpt">
        <li>Programming languages: Python, C, JavaScript (basic)</li>
        <li>Databases: SQL and NoSQL</li>
        <li>Web development: Django, Flask</li>
        <li>Cloud: Google Firebase</li>
    </ul>
</div>



<div class="content">
    <h3 class="title">Hardware</h3>

    <ul class="excerpt">
        <li>Microcontrolers: Arduino, ESP8266, STM32 (with energy-saving)</li>
        <li>Raspberry PI</li>
        <li>Protocols: I2C, SPI, UART</li>
        <li>Many sensors</li>
        <li>Electronic elements</li>
        <li>Soldering, making PCBs</li>
    </ul>
</div>



<div class="content">
    <h3 class="title">Communication protocols - theory and practice</h3>

    <ul class="excerpt">
        <li>LoRaWAN (+ The Things Stack Community Edition), gateway configuration</li>
        <li>Bluetooth Low Energy</li>
        <li>WiFi</li>
        <li>Routers and network configuration</li>
        <li>TCP/IP, UDP</li>
        <li>MQTT (Paho)</li>
        <li>RESTAPI (Flask)</li>
    </ul>
</div>



<div class="content">
    <h3 class="title">Tool and programs</h3>

    <ul class="excerpt">
        <li>Visual Studio Code</li>
        <li>STM32CubeIDE</li>
        <li>Version control: Git, Github, Gitlab</li>
        <li>LaTeX</li>
        <li>MS Office</li>
    </ul>
</div>

<div class="content">
    <h3 class="title">Other</h3>

    <ul class="excerpt">
        <li>Knowledge of IoT topic</li>
        <li>Knowledge of smart city topic</li>
        <li>Knowledge of startups topic</li>
        <li>Ability to read and write technical documentation</li>
        <li>Basic Linux usage</li>
    </ul>
</div>