<div class="list-unstyled">
    <h4 class="title">Embedded Software</h4>

    <ul class="excerpt">
        <li>Embedded programming in <span class="badge">C</span></li>
        <li>with <span class="badge">nRF</span>, <span class="badge">ESP32</span> microcontrollers</li>
        <li>using <span class="badge">ZephyrOS</span><span class="badge">FreeRTOS</span></li>
        <li>communicating with peripherals via <span class="badge">I2C</span><span class="badge">SPI</span><span class="badge">UART</span></li>
        <li>working with sensors: <span class="badge">IMU</span>, <span class="badge">Environmental</span>, <span class="badge">GNSS RTK</span></li>
        <li>using <span class="badge">Git</span> for version control</li>
        <li>debugging with <span class="badge">Segger J-Link</span><span class="badge">Logic Analyzers</span></li>
        <li>updating firmware over-the-air <span class="badge">FOTA</span></li>
        {% comment %} <li>building with <span class="badge">CMake</span></li>
        <li>unit testing with <span class="badge">Unity</span> framework</li> {% endcomment %}
    </ul>
</div>

<div class="content">
    <h4 class="title">IoT hardware</h4>
    <ul class="excerpt">
        <li>Designing PCBs for IoT devices with <span class="badge">Altium Designer</span></li>
        <li>soldering <span class="badge">SMD</span> elements in <span class="badge">reflow oven</span></li>
        <li>debugging hardware with <span class="badge">oscilloscope</span> and <span class="badge">Saleae Logic analyzer</span></li>
        <li>3D modeling of enclosures with <span class="badge">Inventor</span> and printing with <span class="badge">Bambulab X1C</span></li>
    </ul>
</div>

<div class="content">
    <h4 class="title">Communication Protocols</h4>

    <ul class="excerpt">
        <li>IoT wireless <span class="badge">LoRaWAN</span><span class="badge">Bluetooth Low Energy</span><span class="badge">WiFi</span><span class="badge">Zigbee</span></li>
        <li><span class="badge">MQTT</span><span class="badge">TCP</span><span class="badge">UDP</span><span class="badge">REST API</span></li>
    </ul>
</div>

<div class="content">
    <h4 class="title">Prototyping IoT solutions</h4>
    <ul class="excerpt">
        <li>Using <span class="badge">Raspberry Pi</span> and <span class="badge">ESP32, nRF52, nRF91, nRF70, STM32</span> development boards</li>
        <li>Working with IoT platforms: <span class="badge">The Things Network</span>, <span class="badge">ChirpStack</span>, <span class="badge">AWS IoT Core</span></li>
        <li>Creating dashboards with <span class="badge">Node-RED</span> and <span class="badge">Grafana</span></li>
        <li>Using <span class="badge">Python</span> and <span class="badge">JavaScript</span> for prototyping serwer-side applications and scripts</li>
        <li>Working with databases: <span class="badge">InfluxDB</span>, <span class="badge">SQLite</span></li>
        <li>Using <span class="badge">Docker</span> for containerization</li>
    </ul>
</div>

<div class="content">
    <h4 class="title">AWS Cloud</h4>
    <ul class="excerpt">
        <li>Experience with <span class="badge">AWS</span> services: <span class="badge">IoT Core</span>, <span class="badge">Lambda</span>, <span class="badge">S3</span>, <span class="badge">DynamoDB</span>, <span class="badge">Step Functions</span>, <span class="badge">SES</span>, <span class="badge">CloudWatch</span>, <span class="badge">EventBridge</span></li>
        <li>creating resources with <span class="badge">Terraform</span></li>    
    </ul>
</div>