
{%- capture site_tags -%}
    {%- for tag in site.tags -%}
        {{- tag | first -}}{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
{%- endcapture -%}
{%- assign tags_list = site_tags | split:',' | sort -%}

{%- for tag in tags_list -%}
    <a href="#{{- tag -}}" class="btn btn-primary tag-btn">{% comment %}<i class="fas fa-tag" aria-hidden="true"></i>&nbsp;{% endcomment %}&nbsp;{{- tag -}}&nbsp;({{site.tags[tag].size}})</a>&nbsp;
{%- endfor -%}

<div id="full-tags-list">
{%- for tag in tags_list -%}
    <h2  class="linked-section">
        {% comment %}<i class="fas fa-tag" aria-hidden="true"></i>&nbsp;{% endcomment %}
        {{- tag -}}&nbsp;({{site.tags[tag].size}})
    </h2>
    <a  id="{{ tag }}" style="position:absolute; top:-100px;"></a>
    <div class="post-list">
        {%- for post in site.tags[tag] -%}
            <div class="tag-entry">
                
                {% comment %} <a data-toggle="modal" data-target="#{{ post.title }}"> Why not get in touch?</a>
                <div class="modal hide" role="dialog" id="{{ post.title }}"> My favorite music is {{ post.title }}</div> {% endcomment %}
                <p class="entry-date">
                    <a href="#{{ post.title }}">{{- post.title | strip_html -}}</a> - {{ post.time_range }}
                </p>
            </div>
        {%- endfor -%}
    </div>
{%- endfor -%}
</div>

