{% include header.html %}

    {% include title-group.html %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% assign sorted_projects = site.projects | sort: 'order' %}

                    {% for post in sorted_projects %}
                      {% include tile.html %}
                    {% endfor %}

                    {%- comment -%}Pagination removed - displaying all projects{%- endcomment -%}

                </div>
            </div>
        </div>
    </main>

{% include footer.html %}
