{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            {% if site.data.posts.section_title != '' %}
            <h2 class="section-title text-center">{{ site.data.posts.section_title }}</h2>
            {% endif %}
            {% if site.data.posts.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.data.posts.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

            {% assign temp = 0 %}
            {% assign sorted_projects = site.projects | sort: 'order' %}

            {% for post in sorted_projects %}
              <div class="wow fadeIn">
              {% if temp == 0 %}
                {% include content-left.html %}
                {% assign temp = 1 %}
              {% else %}
                {% include content-right.html %}
                {% assign temp = 0 %}
              {% endif %}
              </div>
              
            {% endfor %}

            {%- comment -%}Pagination removed - displaying all projects{%- endcomment -%}

          </div>
        </div>
      </div>
    </main>

    {% comment %} <!-- EDUCATION -->  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a  id="education" style="position:absolute; top:-100px;"></a>
          <h2 class="section-title text-center">Education</h2>
          <p class="section-subtitle text-center">What I have learned during my IoT Engineering course.</p>
          <div class="break"></div>
        </div>
        <div class="col-md-8 col-md-offset-2">
          {% include education.html %}
        </div>
      </div>
    </div> {% endcomment %}

    <!-- SKILLS -->  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a  id="technologies" style="position:absolute; top:-100px;"></a>
          <h2 class="section-title text-center">Technologies</h2>
          <p class="section-subtitle text-center">Technologies I have worked with during my IoT Engineering course and my own projects.</p>
          <div class="break"></div>
        </div>
        <div class="col-md-8 col-md-offset-2">
          {% include skills.html %}
        </div>
      </div>
    </div>

{% include footer.html %}
